10<sup>{{exponent}}</sup>

<div class="abacus_bead ab_active"></div>
<div class="abacus_bead ab_active"></div>
<div class="abacus_bead"></div>
<div class="abacus_bead"></div>

<div class="abacus_beam"></div>

<div class="abacus_bead"></div>
<div class="abacus_bead"></div>
<div class="abacus_bead"></div>
<div class="abacus_bead"></div>
<div class="abacus_bead"></div>
<div class="abacus_bead ab_active"></div>
<div class="abacus_bead ab_active"></div>
<div class="abacus_bead ab_active"></div>
<div class="abacus_bead ab_active"></div>
<div class="abacus_bead ab_active"></div>
