<header>
  <h2>
    Ember.js Abacus 
  </h2>

  <nav>
    {{link-to "Abacus" "abacus"}}
    {{link-to "thousands" "thousands"}}
    {{link-to "millions" "thousands.millions"}}
  </nav>
</header>

<main>
  {{outlet}}
</main>
